{% extends 'base.html.twig' %}

{% block title %}Administrateur | Haiti Sport Network
{% endblock %}

{% block body %}
	<div class="container">
		<div
			class="row g-2">
			<!-- Navigation -->
			<div class="col-md-6 col-xl-2 col-sm-12 align-items-start justify-content-center flex-column">
				{% include "admin/_include/nav.html.twig" %}
			</div>

			<!-- Contenu principal -->
			<div class="col-md-6 col-xl-10 col-sm-12 ">

				<div class="row mb-2">

					{% include "admin/utilisateur/_include/nav.html.twig" %}
				</div>


				<div class="row">

					<div class="col-md-6 col-xl-6 col-sm-12">

						{% for label, messages in app.flashes %}
							{% for message in messages %}
								<div class="alert alert-{{ label }} alert-dismissible fade show" role="alert">
									{{ message }}
									<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
								</div>
							{% endfor %}
						{% endfor %}

						<div class="bg-secondary p-3 rounded">

							{{ form_start(formUserAd) }}
							{{ form_errors(formUserAd) }}
							{# NOM #}
							<div class="mb-3">
								{{ form_label(formUserAd.nom, null, {'label_attr': {'class': 'form-label text-white'}}) }}
								{{ form_widget(formUserAd.nom, {'attr': {'class': 'form-control'}}) }}
								{{ form_errors(formUserAd.nom) }}
							</div>

							{# PRENOM #}
							<div class="mb-3">
								{{ form_label(formUserAd.prenom, null, {'label_attr': {'class': 'form-label text-white'}}) }}
								{{ form_widget(formUserAd.prenom, {'attr': {'class': 'form-control'}}) }}
								{{ form_errors(formUserAd.prenom) }}
							</div>

							{# EMAIL #}
							<div class="mb-3">
								{{ form_label(formUserAd.email, null, {'label_attr': {'class': 'form-label text-white'}}) }}
								{{ form_widget(formUserAd.email, {'attr': {'class': 'form-control'}}) }}
								{{ form_errors(formUserAd.email) }}
							</div>

							{# PASSWORD FIRST #}
							<div class="mb-3">
								{{ form_label(formUserAd.password.first, null, {'label_attr': {'class': 'form-label text-white'}}) }}
								{{ form_widget(formUserAd.password.first, {'attr': {'class': 'form-control'}}) }}
								{{ form_errors(formUserAd.password.first) }}
							</div>

							{# PASSWORD FIRST #}
							<div class="mb-3">
								{{ form_label(formUserAd.password.second, null, {'label_attr': {'class': 'form-label text-white'}}) }}
								{{ form_widget(formUserAd.password.second, {'attr': {'class': 'form-control'}}) }}
								{{ form_errors(formUserAd.password.second) }}
							</div>


							{{ form_rest(formUserAd) }}
							<button type="submit" class="btn btn-dark w-50 mt-3">Creation</button>
							{{ form_end(formUserAd) }}
						</div>

					</div>


					<div class="col-md-6 col-xl-6 col-sm-12">

						<div class="row g-2 my-2 profil">

							{% for Alluser in Allusers %}
								<div class="col-md-6">
									<div class="card">
										<div class="card-header bg-dark text-white">
											Profil :
											{{ Alluser.nom }}
										</div>
										<ul class="list-group list-group-flush">
											<li class="list-group-item">
												Email :
												{{ Alluser.email }}
											</li>
										</ul>
									</div>
								</div>
							{% endfor %}

						</div>

					</div>

				</div>


			</div>
		</div>


	</div>
</div>{% endblock %}
