{% extends 'admin/index.html.twig' %}

{% block title %}
	Administrateur | Haiti Sport Network
{% endblock %}

{% block contenu_admin %}
	<div class="container">
		<div
			class="row g-2">
			<!-- Contenu principal -->
			<div class="col-md-6 col-xl-10 col-sm-12 ">

				<div class="row mb-2">

					{% include "admin/utilisateur/_include/nav.html.twig" %}
				</div>


				<div class="row">
					<div class="col-md-12 col-xl-12 col-sm-12">

						<div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-3">

							{% for allUser in allUsers %}
								<div class="col mb-2">
									<div class="card">
										<div class="card-header bg-dark text-white">
											Profil :
											{{ allUser.nom }}
										</div>
										<ul class="list-group list-group-flush">
											<li class="list-group-item">
												Email :
												{{ allUser.email }}
											</li>

											<li class="list-group-item">
												Nom :
												{{ allUser.nom }}
											</li>
											<li class="list-group-item">
												Prenom :
												{{ allUser.prenom }}
											</li>
										</ul>

										<div class="card-body d-flex gap-2">
											<a href="{{ path('app_admin_utilisateur_profil', { id: allUser.id }) }}" class="btn btn-primary flex-fill">
												Voir profil
											</a>

											<a href="#" class="btn btn-danger flex-fill">
												Supprimer
											</a>
										</div>

									</div>
								</div>
							{% endfor %}

						</div>

					</div>

				</div>


			</div>
		</div>


	</div>
</div>{% endblock %}
